

.carousel-container {
    position: relative;
    width: 500px;
    margin-left: 700px;
    margin-top: -330px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0%);
  }
  
  .carousel-image {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    object-fit: cover;
  }
  
  .carousel-button.left {
    left: 10px;
  }
  
  .carousel-button.right {
    right: 10px;
  }
  
  .carousel-indicators {
    text-align: center;
    margin-top: 10px;
  }
  
  .carousel-indicators span {
    cursor: pointer;
    margin: 0 5px;
    color: gray;
    font-size: 1.5rem;
  }
  
  .carousel-indicators span.active {
    color: blue;
  }
  