.section1{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    height: 80%;
    padding: 110px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
    color: rgb(255, 255, 255);
    font-size: 100px;
} 

.section2{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    height: 80%;
    padding: 110px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
    color: rgb(255, 255, 255);
    font-size: 100px;
} 

.section3{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    height: 80%;
    padding: 110px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
    color: rgb(255, 255, 255);
    font-size: 100px;
} 

.section4{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    height: 80%;
    padding: 110px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
    color: rgb(255, 255, 255);
    font-size: 100px;

} 

.section5{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    height: 80%;
    padding: 110px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
    color: rgb(255, 255, 255);
    font-size: 100px;

}