.section1{
    margin-top: 50px;
    text-align: left;
    font-family: "Montserrat", Sans-serif;
    width: 75%;
    height: 80%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    /* font-size: 50px; */
}
 
.section1.textcontainer{
    height: 700px;
    width: 500px;
    text-align: left;
    font-family: "Montserrat", Sans-serif;
    padding: 30px;
    padding-top: 100px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.743);
    color: rgb(255, 255, 255);
    /* font-size: 50px; */
    overflow: visible;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 60px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.section1-title{
    font-family: "Montserrat", Sans-serif;
    font-size: 70px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
.section1-subtitle{
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.section1.imgcontainer{
    z-index: 999;
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
    height: 700px;
    width: 500px;
    align-self:center;
    margin-left: 60%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 60px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.section1.img{
    margin-top: 0px;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    overflow: visible;

}

.section2{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    height: 80%;
    padding: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 40px;
    border-radius: 25px;
} 

.section2 h2{
    width: 60%;
    height: 120px;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
    color: #333;
    color: white;
    text-align: left;
}

.section2 p{
    font-family: 'Monteserrat', sans-serif;
    font-size: 30px;
    color: white;
    width: 720px;
    margin-top: 30px;
    text-align: left;
}

.section2 ul{
    height: 370px;
    width: 600px;
    flex-direction: column;
}

.section2 ul li{
    transition: transform 0.3s ease;
    border-radius: 5px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    font-family: 'Monteserrat', sans-serif;
    font-weight: 800;
}

.section2 li {
    margin-top: 50px;
   
}

.section2 ul li:hover{
    background-color: rgba(0, 0, 0, 0.568);
    transform: scale(1.2);
}

.section2 ul li svg{
    margin-right: 20px;
    font-size: 60px;
    color: yellow;
}

.subtitulo{
    width: 150%;
    height: 120px;
    font-family: 'Monteserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size:40px;
    color: #333;
    margin-top: 40px;
    color: white;
}

.section3{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    height: 80%;
    padding: 110px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.575);
    color: rgb(255, 255, 255);
    font-size: 300px;
}

.title{
    width: 60%;
    height: 60px;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top: -450px;
    font-size: 70px;
    margin-left: 300px;
}

.parrafo{
    font-family: 'montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-top: -300px;
    margin-left: 150px;
}

.formulario{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    height: 80%;
    padding: 110px;
    padding-top: 30px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.397);
    color: rgb(255, 255, 255);
    /* font-size: 30px; */
    /* font-size: 101px; */

}
.formulario-container{
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100%;
    background-color: rgb(84, 74, 0);
    padding: 50px;
    border-radius: 30px;
}
.formulario-title {
    width: 100%;
    height: 80px;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}
.formulario-text{
    padding: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    width: 50%;
    background-color: rgb(21, 21, 21);
    border-radius: 18px;

}
.testimonios{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    height: 80%;
    padding: 110px;
    padding-top: 30px;
    position: absolute;
    background-color: rgba(43, 43, 43, 0.881);
    color: rgb(255, 255, 255);
    font-size: 20px;
    box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    /* backdrop-filter: blur(10px); */
}
.testimonios.container{
    overflow: hidden;
    height: 300px;
    width: 200px;
    text-align: left;
    font-family: "Montserrat", Sans-serif;
    padding: 20px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.659);
    color: rgb(255, 255, 255);
    /* font-size: 50px; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    border:2px solid rgba(246, 255, 0, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.testimonios-title{
    width: 100%;
    height: 80px;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    /* background-color: red; */
}
.testimonio-pic {

    height: 50px;
    width: 50px;
    background-color: rgb(254, 242, 23) ;
    margin-bottom: 10px;
    border-radius: 100%;

}
.testimonio-pic.pic{

    height: 100%;
    width: 100%;
    object-fit: cover;

}

.rejilla{
    width: 750px;
    height: 100%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-gap: 1rem;
      
}
.testimonio-name{
    text-align: center;
    position: absolute;
    height: 50px;
    width: 90px;
    top: 25px;
    right: 20px;
}
.form-group {
    margin-bottom: 15px; /* Espaciado entre los grupos de campos */
}
label {
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    display: block; /* Hacer que las etiquetas ocupen todo el ancho */
    margin-bottom: 5px; /* Espaciado debajo de las etiquetas */
}

input {
    font-family: "Montserrat", Sans-serif;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0);
    width: 100%; /* Ancho completo del campo de entrada */
    padding: 10px; /* Espaciado interno del campo de entrada */
    border: 3px solid #ccc; /* Borde del campo de entrada */
    border-radius: 9px; /* Bordes redondeados en los campos de entrada */
}

input:focus {
    border-color: #d9ff00c1; /* Cambiar el color del borde al enfocar */
    outline: none; /* Eliminar el contorno por defecto */
}

